/* style.css */

body {
    margin: 0;
    overflow: hidden;         /* ✅ 스크롤 방지 */
    touch-action: none;       /* ✅ 터치 스크롤 방지 */
     user-select: none;       /* 텍스트 선택 방지 */
  -webkit-user-drag: none; /* 사파리용 이미지 드래그 방지 */
  }
  
  canvas {
    display: block;
      position: absolute;
  top: 5%;  /* 👈 살짝 위로 올림 */
  left: 50%;
  transform: translateX(-50%);
    margin: 0 auto;
    z-index: 0;
      pointer-events: auto;
  touch-action: none;
  user-select: none;
  }
  
  #startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    padding: 10px 20px;
  }
  
  #joystickContainer {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,120%) translate(0,50vmin);
    width: 20vmin;
    height: 20vmin;
    max-width: 100px;
    max-height: 100px;
    z-index: 100;
    touch-action: none;
    -ms-touch-action: none;
  }
  
  #joystickBase {
    width: 100%;
    height: 100%;
    background: rgb(255, 0, 0);
    border-radius: 50%;
    position: relative;
  }
  
  #joystickStick {
    width: 40%;
    height: 40%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    left: 30%;
    top: 30%;
  }
  
